/* =============================================================================
   Navigation Bar 
   ============================================================================= */
   
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* change */
}

#nav-bar ul li {
    float: left;
}

/* Add later for mobile site
@media screen and (max-width: 600px){
    ul.nav-bar li.right, 
    ul.nav-bar li {float: none;}
}
*/

#nav-bar ul li .active {
	background-color: red; /* change */
}

#nav-bar ul li a {
	font-family: Tahoma, Geneva, sans-serif;
    display: block;
    color: white; /* change */
    text-align: center;
    padding: 14px 16px; /* height , width */
    text-decoration: none;
}

#nav-bar ul li a:hover {
    background-color: #111; /* change */
}

#nav-aside{
	width: 10%;
	position: fixed;
	background: #6d6c6c; 
	z-index: 20;
	margin: 20px;
}

#nav-aside #nav-menu{
	text-align: center;
	margin: 0;
	padding: 0;
}

#nav-aside #nav-menu ul li{
	padding: 0;
	list-style: none;
}

#nav-aside #nav-menu ul li a{
	font-family: Tahoma, Geneva, sans-serif;
	display: block;
	color: white;
	text-decoration: none;
	position: relative;
	padding: 10px 10px;
}

#nav-aside #nav-menu ul li a:hover{
	background-color: #111;
}